<div class="row">
    <div class="col-xs col-md-offset-2 justify-content-center">
    <h3>sign in</h3>
    <div class="row">
      <div class="col-md-6 col-xs-8">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form'}) do |f| %>
        <div class="form-group">
          <label><%= f.label :email, class: 'control-label' %></label>
          <%= f.email_field :email, autofocus: true, class: 'col-xs-6 form-control control-label' %></br>
        </div>
        <div class="form-group">
          <label><%= f.label :password, class: 'control-label password'%></label>
          <%= f.password_field :password, autocomplete: "off", class: 'col-xs-6 form-control control-label' %></br>
        </div>
      </div>
    </div>
      <% if devise_mapping.rememberable? -%>
      <div class="row no-padding">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8">
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="1">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </label>
               </div>
             </div>
           </div>
          <% end -%>
        <div class="col-md-6 col-sm-6 col-xs-8">
            <div class="actions form-group alignment-right">

                <%= f.submit "Log in" %>

            <% end %>
            </div>
          </div>
         </div>
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end -%>
        </div>
      </div>

  </div>
</div>
