<section class="main">
  <div class="container medium-6 medium-centered small-11 small-centered">

      <%= render 'application/errors' %>
      <%= form_for @goal do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :due_time %>
        <%= f.date_select :due_time,
                          options = { start_year: DateTime.now.year,
                                      end_year: DateTime.now.year + 75,
                                      order: [:month, :day, :year]},
                          html_options = { class: 'select-date'} %>
        <%= f.submit 'Save Goal', class: 'button' %>
      <% end %>
  </div>
</section>
