<section>
  <div class="container medium-6 medium-centered small-11 small-centered">
    <div class="title">
      <h2>GOALS</h2>
    </div>
    <div class="form"
      <ul>
       <% @goals.each do |goal| %>
         <li><%= link_to goal.name, goal_path(goal) %></li>
         <%= goal.description  %>
         <%= goal.due_time.strftime('%a, %d %b %Y %H:%M:%S')%></br>
         <ul class="button-group">
           <li>
             <%= link_to 'Edit', edit_goal_path(goal),
                  class: 'button tertiery' %>
           </li>
           <li><%= button_to 'Delete', goal_path(goal),
                   method: 'delete',
                   class: 'button tertiery' %>
           </li>
         </ul>
       <% end %>
      </ul>
    </div>
  </div>
</section>
